
* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1400px;
  margin: auto;
}

header {
  background: #24282f;

  .z_container {
    display: flex;
    justify-content: space-between;

  }

  .logo {
    margin-top: 30px;
  }

  ul {

    margin: 30px 20px 0 15px;

    li {
      display: inline-block;
      margin-left: 40px;
      padding-bottom: 43px;
      font-size: 15px;
      list-style-type: none;
      border-bottom: 1px solid transparent;

      a {
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        color: white;
        text-decoration: none;
        display: inline-block;


      }

      &:hover {
        border-bottom: 1px solid yellow;
      }
    }


  }
}

.title {
  background: url("../img/bacgraund.png") center center;
  background-size: cover;


  .more_about {
    padding: 90px 0 110px 0;
    color: white;
    margin-bottom: 139px;
  }


  h1 {

    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
  }

  h2 {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;

    width: 60%;


  }
}

.container_M {
  max-width: 1140px;
  margin-bottom: 20px;

  h3 {
    text-align: center;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;

    &:after {
      display: block;
      content: "";
      margin: auto;
      margin-top: 15px;
      margin-bottom: 30px;
      background-color: #b5a263;
      height: 2px;
      width: 50px;

    }
  }
}

.page_1 {
  display: flex;
  justify-content: space-between;
}


.description {
  display: flex;
  justify-content: space-between;

  .name {
    margin-top: 25px;
    margin-left: 12px;

    p {
      font-family: 'Raleway', sans-serif;
    }
  }

  .gold {
    color: #b5a263;
    font-family: 'Open Sans', sans-serif;
  }
}

ul {
  margin-top: 25px;

  li {
    margin: 6px;
    background-color: #869791;
    border-radius: 50%;
    display: inline-block;
    list-style-type: none;
    padding: 6px;


  }

  a {
    color: #FFFFFF;

  }
}


.show_all {
  margin-top: 34px;
  text-align: center;

  a {
    font-family: 'Open Sans', sans-serif;
    border-radius: 25px;
    border-style: solid;
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding: 16px 33px;
  }
}


.container_owl {
  position: relative;

  margin-top: 34px;
  padding-top: 111px;

  background: #f7f7f7;

  h4 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 22px;

    &:after {
      display: block;
      content: "";
      margin: auto;
      margin-top: 15px;
      margin-bottom: 30px;
      background-color: black;
      height: 2px;
      width: 50px;

    }
  }

  .owl-carousel {
    max-width: 1140px;
    margin: auto;
  }

  .commit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .owl-carousel .owl-item img {
      display: block;
      width: 5%;
    }

    .img {
      margin-bottom: 36px;
    }

    p {
      width: 80%;
      margin-bottom: 45px;
      text-align: center;
      font-family: 'Open Sans', sans-serif;

    }


    .gold {
      text-align: center;

      font-family: 'Open Sans', sans-serif;

      margin-bottom: 12px;
      color: #b5a263;

    }


  }


  .owl-nav .owl-prev:after {
    display: block;
    content: "<";
    font-size: 30px;
    color: black;
  }

  .owl-nav .owl-prev {
    position: absolute;
    left: -5px;
    top: 40%;
  }

  .owl-nav .owl-next:after {
    display: block;
    content: ">";
    font-size: 30px;
    color: black;
    font-weight: bold;
  }

  .owl-nav .owl-next {
    position: absolute;
    right: -5px;
    top: 40%;
  }
}

.footer {
  background: #2b2f35;
  padding-top: 70px;
  padding-bottom: 44px;

  .info {
    max-width: 1140px;

    margin: auto;
    display: flex;
    justify-content: space-between;

    div {
      width: 25%;

      .gold {
        font-size: 15px;

        font-family: 'Open Sans', sans-serif;
        color: #b5a263;
        margin-bottom: 26px;
      }

      p {
        font-size: 13px;

        font-family: 'Open Sans', sans-serif;
        color: #6e7279;
      }
    }
  }
}

.contact_info {
  p {
    margin-bottom: 24px;
  }
}


.footer_2 {
  background: #24282f;

  .info {
    max-width: 1140px;

    margin: auto;
    display: flex;
    justify-content: space-between;

    ._2016 {
      margin-top: 26px;

    }

    .social_icon {
      ul {
        margin-top: 16px;

        li {
          margin: 6px;
          //background-color: #869791;
          border-radius: 50%;
          display: inline-block;
          text-decoration: none;
          list-style-type: none;
          padding: 6px;
          &:hover {
            background: #b5a263;
          }

        }

        a {
          color: #6e7279;



        }

      }
    }
  }
}